[submodule "vim/vimfiles/bundle/diffconflicts"]
	path = vim/vimfiles/bundle/diffconflicts
	url = https://github.com/whiteinge/diffconflicts
[submodule "vim/vimfiles/bundle/vim-csexact"]
	path = vim/vimfiles/bundle/vim-csexact
	url = https://github.com/KevinGoodsell/vim-csexact
[submodule "vim/vimfiles/bundle/YouCompleteMe"]
	path = vim/vimfiles/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vimux"]
	path = vimux
	url = https://github.com/benmills/vimux.git
[submodule "bin/tmux/plugins/tmux-resurrect"]
	path = bin/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmuxinator/tmux/plugins/tmux-fpp"]
	path = tmuxinator/tmux/plugins/tmux-fpp
	url = https://github.com/tmux-plugins/tmux-fpp
[submodule "vim/vimfiles/bundle/vim/vimfiles/bundle/vim-repeat"]
	path = vim/vimfiles/bundle/vim/vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
